// Partial Sass File "initial with _"
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin center-with-absolute {
  // this is use to center the content.
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

// The traditional way of doing responsive media query
// @mixin respond-phone {
//   @media (max-width: 600px) {
//     // @content allow to received a block of code from other file to mixin
//     @content;
//   }
// }

// Contemporary practice of implementing media query
/* 
Media Breakpoint

0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet Landscape
1200 -1800px: Normal styles apply (Desktop-First Approach)
1800px ++ : Big Desktop

*/

/*
  $breakpoint argument choices:
  ~ phone
  ~ tab-port
  ~ tab-land
  ~ big-desktop

  ORDER: Base + Typography > general layout + grid > page layout > components

  1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    // after several expert experiment, em is better than rem for media query
    @media only screen and (max-width: 37.5em) {
      // 600px
      @content;
    }
  } @else if $breakpoint==tab-port {
    @media only screen and (max-width: 56.25em) {
      // 900px
      @content;
    }
  } @else if $breakpoint==tab-land {
    @media only screen and (max-width: 75em) {
      // 1200px
      @content;
    }
  } @else if $breakpoint==big-desktop {
    @media only screen and (min-width: 112.5em) {
      // 1800px
      @content;
    }
  }
}
