// Partial Sass File "initial with _"

/* Universal Selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Root Selector */
html {
  // This defines 1rem of the entire project
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
