// Partial Sass File "initial with _"
.section-about {
  background-color: $color-grey-light-1;
  padding: 20rem 0;
  margin-top: -10vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;

  // Skew the entire object
  transform: skewY(-7deg);
  margin-top:-10rem;

  // Select the entire direct child of the object
  & > *{
    transform: skewY(7deg);
  }
}

.section-tours{
  background-color: $color-grey-light-1;
  padding: 20rem 0 20rem 0;
  margin-top: -10rem;
}

.section-stories{
  position:relative;
  padding:15rem 0;
  // background-color: $color-grey-light-1;
}